<head>
  <link rel="stylesheet" href="/stylesheets/tables.css" />
</head>

<body>
  <!-- No need for if statement -->
  <%= flash[:notice] %>

  <h3> <%=@subject.title %> </h3>

  <table class="assignments" style="width: 70%">
    <colgroup>
      <col span="1">
      <col span="1">
      <col span="1" style="width: 25%">
      <col span="1" style="width: 15%">
      <col span="1" style="width: 15%">
      <col span="1" style="width: 15%">
      <col span="1">
    </colgroup>
    <thead>
      <tr>
        <td class="no_style"></td>
        <td> Date </td>
        <td> Type </td>
        <td> Points </td>
        <td> Possible </td>
        <td> Grade </td>
        <td class="no_style"></td>
      </tr>
    </thead>
    <tbody>
      <% @assignments.each do |a| %>
        <tr>
          <td class="no_style">
            <a href="/<%=@assignments.first.subject.slugify%>/assignments/<%= a.id%>/edit">
              <button>Edit</button> 
            </a>
          </td>
          <td style="font-size:10px;"> <%= a.date%></td>
          <td> <%= a.category %> </td>
          <td> <%= a.score_earned %> </td>
          <td> <%= a.score_possible %> </td>
          <td> <%= Assignment.score_as_percentage(a.score_earned, a.score_possible) %> </td>
          <td class="no_style">
            <form action="/<%=@assignments.first.subject.slugify%>/assignments/<%=a.id%>" method="post">
              <input type="hidden" name="_method" value="delete">
              <button type="submit">Delete</button>
            </form>
          </td>
        </tr>
          
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td class="no_style"></td>
        <td></td>
        <td>Total</td>
        <!-- Sums Column Data -->
        <td> <%= @total_score ||= 0 %> </td>
        <td> <%= @total_possible ||= 0%> </td>
        <!-- Averages Column Data -->
        <% if @total_possible != 0 %>
          <td> <%= Assignment.score_as_percentage(@total_score, @total_possible) %> </td>
        <% else %>
          <td> 0 </td>
        <% end %>
        <td class="no_style"></td>
      </tr>
    </tfoot>

  </table>

  <br>
  <div class="centered">
    <a href="/<%=@subject.slugify%>/assignments/new">
      <button id="add_assignment"> Add Assignment </button>
    </a>
    <br>

  </div>
</body>