<head>
    <link rel="stylesheet" href="/stylesheets/tables.css" />
</head>
<%= flash[:notice] %>
<h3> <%=@subject.display_title %> </h3>


<table class="assignments" style="width: 70%">
    <colgroup>
        <col span="1">
        <col span="1" style="width: 25%">
        <col span="1" style="width: 15%">
        <col span="1" style="width: 15%">
        <col span="1" style="width: 15%">
    </colgroup>
    <thead>
        <tr>
            <td> Date </td>
            <td> Type </td>
            <td> Points </td>
            <td> Possible </td>
            <td> Grade </td>
        </tr>
    </thead>
    <tbody>
        <% @assignments.each do |a| %>
            <tr>
                <td> <%= a.date%> </td>
                <td> <%= a.category %> </td>
                <td> <%= a.score_earned %> </td>
                <td> <%= a.score_possible %> </td>
                <td> <%= Assignment.score_as_percentage(a.score_earned, a.score_possible) %> </td>
            </tr>
        <% end %>
        <form action="/<%=@subject.slugify%>/assignments" method="post">
            <tr>
                <td class="input_cell"><input class='subinp' type="date" name="assignment[date]"></td>
                <td class="input_cell"> 
                    <select class='subinp' id="category" name="assignment[category]">
                        <option value="homework"> homework </option>
                        <option value="project"> project </option>
                        <option value="test"> test </option>
                    </select>
                </td>
                <td class="input_cell"> <input class='subinp' type="number", name="assignment[score_earned]" style="width: 40px;"> </td>
                <td class="input_cell"> <input class='subinp' type="number", name="assignment[score_possible]" style="width: 40px;"> </td>
                <td class="input_cell"> <button type="submit">Add</button> </td>
            </tr>
        </form>
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td>Total</td>
            <!-- Sums Column Data -->
            <td> <%= @total_score ||= 0 %> </td>
            <td> <%= @total_possible ||= 0%> </td>
            <!-- Averages Column Data -->
            <% if @total_possible != 0 %>
                <td> <%= Assignment.score_as_percentage(@total_score, @total_possible) %> </td>
            <% else %>
                <td> 0 </td>
            <% end %>
        </tr>
    </tfoot>
</table>
